*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header{
    background: rgba(0, 0, 0, 0.68);
    padding: 50px 0;
}

.nav a {
    font-size: 20px;
    color: aqua;
    font-weight: 600;
    padding: 0 20px;
}

.header button{
    padding: 20px 35px;
    color: white;
    font-size: 20px;

}